@keyframes slide-in {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(50%);
    opacity: 0;
  }
}

.slide-in {
  animation-name: slide-in;
  animation-duration: 0.35s;
}

.slide-out {
  animation-name: slide-out;
  animation-duration: 0.35s;
}