.DS_Store
*.log
*.gz
*.zip
.~lock.*
.buildpath
.idea
.vscode
.project
.settings
node_modules
jest/junit.xml
coverage
cypress/videos
cypress/screenshots
cypress/integration/examples
cypress/results/*
!cypress/results/.gitkeep
dist/*
!dist/icons
!dist/favicon.ico
!dist/manifest.json
!dist/commit.txt
