
/*! purgecss start ignore */
/*
commented out in favor of native input[type=date]

.react-datepicker-wrapper {
  width: inherit;
}
.react-datepicker-popper {
  z-index: 40 !important;
}
.react-datepicker__input-container input {
  padding-left: 3rem;
}
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background: #318637 !important;
} */
/*! purgecss end ignore */

.rotate-0 {
  transform: rotate(0deg);
}
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-270 {
  transform: rotate(270deg);
}

/* bit.ly/caniuse-lc */
.truncate-1-line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes loadingFlow {
  0% {
    background-position: -600px 0;
  }
  33% {
    background-position: -200px 0;
  }
  66% {
    background-position: 200px 0;
  }
  100% {
    background-position: 600px 0;
  }
}

.isFetchingIndicator {
  animation-name: loadingFlow;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: linear-gradient(to right, #FBFCFC 10%, #ebecec 50%, #FBFCFC 90%);
}
@screen md {
  .isFetchingIndicator {
    animation-duration: 1.8s;
  }
}
