
body {
  height: 100%;
  overflow-x: hidden !important;
  margin: auto !important;
  font-family: Rubik !important;
  font-style: normal !important;
  line-height: 21px !important;
  font-size: 14px !important;
  letter-spacing: .15px !important;
  color: black !important;
}

h1, h2, h3, h4, h5, h6 {
  color: black !important;
}

h2, h3, h4, h5, h6 {
  font-weight: 500 !important;
}

h1 {
  font-weight: normal !important;
  font-size: 28px !important;
  line-height: 41px !important;
}

h2 {
  font-size: 20px !important;
  line-height: 28px !important;
}

h3 {
  font-size: 18px !important;
  line-height: 22px !important;
}

h4 {
  @apply text-green-600;
  font-size: 16px !important;
  line-height: 22px !important;
}

h5 {
  font-size: 13px !important;
  line-height: 21px !important;
}

a,
a:active,
a:focus {
  @apply outline-none;
}
a.focus-visible {
  @apply shadow-outline;
}

progress::-webkit-progress-bar,
progress::-webkit-progress-bar,
progress {
  @apply bg-gray-400;
}
progress::-webkit-progress-value,
progress::-moz-progress-bar {
  @apply bg-green-600;
}

input::-webkit-calendar-picker-indicator {
  @apply text-green-600 absolute left-0 -mx-1 pl-4 text-xl w-full z-20 opacity-0;
  filter: invert(1);
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
  @apply bg-green-600 text-white;
}
