/*
  Tailwind custom utils
  imported BEFORE @tailwind utilities so the
  later takes higher priority when both are applied
  --- ALL classenames below are prefixed with 'utl' ---
*/

/* utl-btn */
.utl-btn {
  @apply px-4 py-2 font-semibold tracking-wide text-center text-gray-100 rounded-sm;
}
.utl-btn:focus {
  @apply outline-none;
}
.utl-btn.focus-visible {
  @apply shadow-outline;
}

/* utl-input */
.utl-input {
  @apply w-full p-3 leading-tight text-gray-700 border appearance-none;
  min-height: 40px;
}
.utl-input:focus {
  @apply outline-none;
}
.utl-input.focus-visible {
  @apply shadow-outline;
}

.utl-textarea {
  @apply block w-full h-32 p-3 mt-1 leading-5 border resize-none;
}
.utl-textarea:focus {
  @apply outline-none shadow-outline;
}

.utl-check-input.focus-visible + label {
  @apply border-gray-400 shadow-outline;
}

.utl-label {
  @apply block mb-1 text-sm text-gray-800;
}

.utl-error {
  @apply mt-px text-xs text-red-600 h-3 leading-none;
}

.utl-single-field {
  @apply w-full;
}
@screen sm {
  .utl-single-field {
    @apply w-1/2;
  }
}
@screen md {
  .utl-single-field {
    @apply w-1/3;
  }
}

.utl-two-fields {
  @apply flex flex-col justify-between w-full;
}
.utl-two-fields > div:nth-child(1){
  @apply mr-0;
}

@screen sm {
  .utl-two-fields {
    @apply flex-row;
  }
  .utl-two-fields > div {
    @apply w-full mr-0;
  }
  .utl-two-fields > div:nth-child(1){
    @apply mr-4;
  }
}

.utl-page-container {
  @apply h-full px-3 mx-auto pb-32;
}

@screen sm {
  .utl-page-container {
    margin: auto;
    @apply max-w-screen-xl pb-48;
  }
}
.utl-modal {
  @apply fixed top-0 bottom-0 left-0 right-0 z-50;
  background-color: rgba(0, 0, 0, 0.3);
}

.utl-dropdown-item {
  @apply inline-block w-full py-1;
}
.utl-dropdown-item:focus {
  @apply outline-none shadow-outline;
}
@screen sm {
  .utl-dropdown-item {
    @apply py-2 text-sm;
  }
}

